<div class="panel panel-default">
    <div class="container">
        <h2>Detalles de persona</h2>
        <ul class="list-group" style="width:90%">
            <li class="list-group-item" ng-model="persona.nombre"><b><em>Nombre:</em></b> {{persona.nombre}}</li>
            <li class="list-group-item" ng-model="persona.apellido"><b><em>Apellido:</em></b> {{persona.apellido}}</li>
            <li class="list-group-item" ng-model="persona.alias"><b><em>Alias:</em></b> {{persona.alias}}</li>
            <li class="list-group-item" ng-model="persona.telefono"><b><em>Teléfono:</em></b> {{persona.telefono}}</li>
            <li class="list-group-item" ng-model="persona.email"><b><em>Email:</em></b> {{persona.email}}</li>
            <li class="list-group-item" ng-model="persona.direccion"><b><em>Dirección:</em></b> {{persona.direccion}}</li>
            <li class="list-group-item" ng-model="persona.fechacreacion"><b><em>Fecha de Creación:</em></b> {{persona.fechacreacion}}</li>
            <li class="list-group-item" ng-model="persona.fechamodificacion"><b><em>Fecha de Modificación:</em></b> {{persona.fechamodificacion}}</li>
        </ul>
    </div>
</div>
