<!-- templates/lista-persona-partial -->
<div class="panel panel-default">
    <div class="panel-heading">Listado de personas</div>
    <div class="panel-body">
        <input class="form-control w8 input" placeholder="Buscar" ng-model="filtro"/>
        <button type="button" class="btn btn-default" ng-click="busqueda()">Buscar</button>
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Alias</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>E-mail</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.lista |orderBy:id|filter:buscar">
                    <td>{{item.id }}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellido}}</td>
                    <td>@{{item.alias }}</td>
                    <td>{{item.direccion }}</td>
                    <td>{{item.telefono }}</td>
                    <td>{{item.email }}</td>
                    <td>
                        <button type="button" class="btn btn-default" ng-click="getContact(item)">Ver</button>
                        <button type="button" class="btn btn-warning" ng-click="edit(item)">Editar</button>
                        <button type="button" class="btn btn-danger" confirmed-click="removeContact(item)" ng-confirm-click="Estás seguro de eliminar el contacto?" >Eliminar</button>
                    </td>
                </tr>

            </tbody>
            </table>
        <pagination total-items="total" ng-model="currentPage" ng-change="pageChanged()"
                    max-size="5" boundary-links="true"
                    items-per-page="numPerPage" class="pagination-sm">
        </pagination>
    </div>
</div>
<!-- Fin templates/lista-persona-partial -->
