<!-- templates/lista-persona-partial -->
<div class="panel panel-default">
    <div class="panel-heading">Listado de personas</div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Alias</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.lista">
                    <td>{{item.id }}
                    </td>
                    <td>{{item.nombre}}
                    </td>
                    <td>{{item.apellido}}
                    </td>
                    <td>@{{item.username }}
                    </td>
                    <td>{{item.direccion }}
                    </td>
                    <td>{{item.telefono }}
                    </td>
                    <td>{{item.email }}
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Fin templates/lista-persona-partial -->
