<div class="panel panel-default" ng-controller="listaPersonaCtrl">
    <div class="panel-body">
        <form name="form" id="form">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input name="nombre" id="nombre" class="form-control" ng-model="persona.nombre" type="text" maxlength="25" required placeholder="Nombre de la nueva persona.">
            </div>
            <div class="form-group">
                <label for="nombre">Apellido</label>
                <input name="apellido" id="apellido" class="form-control" ng-model="persona.apellido" type="text" required maxlength="30" placeholder="Apellido de la nueva persona.">
            </div>
            <div class="form-group">
                <label for="nombre">Alias</label>
                <input type="text" class="form-control" name="alias" type="text" id="alias" ng-model="persona.alias" placeholder="Alias de la nueva persona" required>
            </div>
            <div class="form-group">
                <label for="nombre">Dirección</label>
                <input name="direccion" id="direccion" type="text" class="form-control" ng-model="persona.direccion" placeholder="Dirección de la nueva persona." required>
            </div>
            <div class="form-group">
                <label for="nombre">Teléfono</label>
                <input name="telefono" id="telefono" type="number" class="form-control" ng-model="persona.telefono" placeholder="Teléfono de la nueva persona." required>
            </div>
            <div class="form-group">
                <label for="nombre">E-mail</label>
                <input name="email" id="email" type="email" class="form-control" ng-model="persona.email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" placeholder="E-mail de la nueva persona." required>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary" ng-click="editContact(persona)" >
                    <i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Actualizar
                </button>
            </div>
        </form>
    </div>
</div>